/* Scrollbar */

html {
  scrollbar-color: #637002 #B3CA00;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #B3CA00;
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #637002;
  border-radius: 10px;
  width: 4px;
  height: 4px;
  border-radius: 10px;
}
