/* Variables */

:root {

  /* Cores */

  --cor-branco: #FFFFFF;
  --cor-preto: #000000;

  --cor-amarelo: #E9FF43;

  --cor-verde-escuro: #719200;
  --cor-verde-claro: #B3CA00;

  --cor-azul-escuro: #01315C;
  --cor-azul-claro: #185A8E;

  --cor-vermelho-escuro: #FF002B;
  --cor-vermelho-claro: #FFEDF0;

  --cor-cinza: #DCE3E9;

  --cor-um: #544837;
  --cor-dois: #B5A68B;
  --cor-tres: #3EA3C3;
  --cor-quatro: #F4385B;
  --cor-cinco: #A10B0B;
  --cor-seis: #000000;
  --cor-sete: #707070;

  /* Fontes */

  --black: 'americanCaptain';
  --bold: 'markProBold';
  --regular: 'markProRegular';

}
