/* index <section class="pastilhas"> */
section.pastilhas {
  display: flex;
  align-items: center;
  width: 100%;
}
/* Título */
section.pastilhas .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 80px 50px 80px;
  background: linear-gradient(to right, var(--cor-verde-claro), var(--cor-verde-escuro));
  width: 50%;
  min-height: 500px;
}
section.pastilhas .titulo h2 {
  font-family: var(--black);
  font-size: clamp(2rem, 3vw, 4rem);
  color: var(--cor-branco);
  line-height: 1;
}
section.pastilhas .titulo h3 {
  font-family: var(--black);
  font-size: clamp(2rem, 3vw, 4rem);
  color: var(--cor-amarelo);
  line-height: 1;
}
section.pastilhas .titulo h4 {
  font-family: var(--regular);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  color: var(--cor-branco);
  margin: 15px 0 10px 0;
  width: 100%;
  max-width: 350px;
}
section.pastilhas .titulo p {
  font-family: var(--bold);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-azul-escuro);
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
}
section.pastilhas .titulo p img {
  width: 15px;
  min-width: 15px;
  margin: 0 10px 0 0;
}
/* Imagem */
section.pastilhas .imagem {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px;
  background-image: url('../../../../../files/images/index/pastilhas-pretas.png');
  background-size: cover;
  background-position: top center;
  width: 50%;
  position: relative;
  min-height: 500px;
}
section.pastilhas .imagem img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
/* Responsivo */
@media screen and (max-width: 1000px) {
  section.pastilhas {
    flex-direction: column-reverse;
  }
  /* Título */
  section.pastilhas .titulo {
    padding: 40px 20px 40px 20px;
    background: linear-gradient(to top, var(--cor-verde-claro), var(--cor-verde-escuro));
    width: 100%;
    min-height: auto;
  }
  /* Imagem */
  section.pastilhas .imagem {
    min-height: 150px;
    width: 100%;
  }
  section.pastilhas .imagem img {
    display: none;
  }
}
